{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<link rel="stylesheet" href="{% static 'pages/css/custom_ckeditor.css' %}">

{% if request.user.is_staff %}

    <button type="button" data-toggle="colapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
        oa
    </button>
    <ul>
        <li><a href="{% url 'pages:create' %}">Crear Página</a></li>
        <li><a href="{% url 'pages:pages' %}">Listar Páginas</a></li>
    </ul>
{% endif %}