{% extends 'core/base.html' %}
{% load static %}

{% block title %}Iniciar sesión{% endblock  %}


{% block content %}

    {% if 'register' in request.GET %}
        <p style="color: greenyellow;">Usuario registrado correctamente. Ya puedes identificarte</p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <h3>Iniciar sesión</h3>
        {% if form.non_field_errors %}
            <p style="color: red;">Usuario o contraseña incorrecto, prueba de nuevo.</p>
        {% endif %}
        <input type="text" name="username" id="id_username" autofocus maxlength="254" required placeholder="Nombre de usuario">
        <input type="password" name="password" id="id_password" required placeholder="Contraseña">
        <input type="submit" value="Acceder">
    </form>
{% endblock  %}